@charset "utf-8";

.opt320 {min-width:200px;max-width:420px;margin-top:22px;margin-left:-200px;position:absolute;clear:both;z-index:11;padding:5px;background-color:#F9F9F9;border:1px solid #aaa;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;box-shadow:0 0 3px #888;}
.opt200 {min-width:200px;max-width:300px;margin-top:18px;margin-left:-110px;position:absolute;clear:both;z-index:11;padding:8px;background-color:#F9F9F9;border:1px solid #aaa;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:0 0 3px #888;-webkit-box-shadow:0 0 3px #888;box-shadow:0 0 3px #888;}

.i50 {background:transparent url('../images/i50.png') no-repeat;display:block;text-decoration:none;width:50px;height:50px;}
#i50_lgn {background-position:0px 0px;}
#i50_lgt,#i50_lgt1 {background-position:-50px 0px;}
#i50_refresh {background-position:-100px 0px;}
#i50_menu {background-position:-150px 0px;}
#i50_home {background-position:-200px 0px;}
#i50_cfg {background-position:-250px 0px;}
#i50_mdl {background-position:-300px 0px;}
#i50_acc {background-position:0px -50px;}
#i50_usr {background-position:0px -50px;}
#i50_rls,#i50_dsc {background-position:-50px -50px;}
#i50_fmn {background-position:-100px -50px;}
#i50_img {background-position:-150px -50px;}
#i50_ses,#i50_nwj {background-position:-200px -50px;}
#i50_mnu {background-position:-250px -50px;}
#i50_ppl,#i50_sfr,#i50_mpt,#i50_pay {background-position:-300px -50px;}
#i50_srh {background-position:0px -100px;}
#i50_hlp {background-position:-50px -100px;}
#i50_cnt {background-position:-100px -100px;}
#i50_gsb {background-position:-150px -100px;}
#i50_tls {background-position:-200px -100px;}
#i50_nwe {background-position:-250px -100px;}
#i50_nwl,#i50_nws {background-position:-300px -100px;}
#i50_ord,#i50_shp {background-position:-50px -150px;}
#i50_prd {background-position:0px -150px;}
#i50_mrc,#i50_dlv {background-position:-100px -150px;}
#i50_bck {background-position:-150px -150px;}
#i50_evn {background-position:-200px -150px;}
#i50_bim {background-position:-250px -150px;}
#i50_dwn,#i50_upl {background-position:-300px -150px;}

.i20s_act, .i20s_inact, .i20s_inact0, .i20s_new, .i20s_new0, .i20s_canc, .i20s_dun, .i20s_del, .i20s_del0, .i20s_em, .i20s_em0, .i20s_cfg, .i20s_cfg0, .i20s_mn, .i20s_pl, .i20s_warn1, .i20s_cont, .i20s_cont0, .i20s_refr0, .i20s_ed1, .i20s_ed10 {background:transparent url('../images/i20s.png') no-repeat;display:block;text-decoration:none;width:20px;height:20px;}
.i20s_act1, .i20s_inact1, .i20s_att,  .i20s_delv, .i20s_delv0, .i20s_down, .i20s_copy, .i20s_copy0, .i20s_md, .i20s_md0, .i20s_pn, .i20s_pn0, .i20s_ed, .i20s_ed0, .i20s_info, .i20s_info0, .i20s_warn,  .i20s_ord, .i20s_ord0, .i20s_ch, .i20s_ch0, .i20s_pre, .i20s_pre0, .i20s_key, .i20s_refr1, .i20s_br, .i20s_module, .i20s_url, .i20s_static, .i20s_dynamic, .i20s_fup, .i20s_fup0, .i20s_fl, .i20s_fl0, .i20s_folder, .i20s_file, .i20s_sql, .i20s_ppt, .i20s_xml, .i20s_xls, .i20s_xls, .i20s_pdf, .i20s_doc, .i20s_non, .i20s_zip, .i20s_rar, .i20s_exe, .i20s_bat, .i20s_au, .i20s_mp3, .i20s_ogg, .i20s_m3u, .i20s_ram, .i20s_rm, .i20s_wav, .i20s_avi, .i20s_mp4, .i20s_mpg, .i20s_webm, .i20s_mov, .i20s_bmp, .i20s_gif, .i20s_png, .i20s_jpeg, .i20s_jpg, .i20s_jpe, .i20s_tiff, .i20s_tif, .i20s_css, .i20s_js, .i20s_html, .i20s_htm, .i20s_php, .i20s_php4, .i20s_phtml, .i20s_tpl, .i20s_txt, .i20s_log, .i20s_ico, .i20s_xlsx, .i20s_docx, .i20s_csv, .i20s_canc1, .i20s_new1, .i20s_conf {background:transparent url('../images/i20s.png') no-repeat;display:block;text-decoration:none;width:20px;height:20px;float:left;margin-right:8px;}

.i20s_act {background-position:0px 0px;}
.i20s_inact {background-position:-20px 0px;}
.i20s_act1 {background-position:0px 0px;}
.i20s_inact0 {background-position:-80px 0px;}
.i20s_inact1 {background-position:-80px 0px;}
.i20s_new, .i20s_new1 {background-position:-40px 0px;}
.i20s_new0 {background-position:-60px 0px;}
.i20s_warn, .i20s_warn1 {background-position:-100px 0px;}
.i20s_canc, .i20s_canc1 {background-position:-80px 0px;}
.i20s_att, .i20s_dun {background-position:-120px 0px;}
.i20s_down {background-position:-140px 0px;}
.i20s_cont {background-position:-160px 0px;}
.i20s_cont0 {background-position:-180px 0px;}

.i20s_copy {background-position:0px -20px;}
.i20s_copy0 {background-position:-20px -20px;}
.i20s_pn {background-position:-40px -20px;}
.i20s_pn0 {background-position:-60px -20px;}
.i20s_ed {background-position:-80px -20px;}
.i20s_ed0 {background-position:-100px -20px;}
.i20s_ed1 {background-position:-80px -20px;}
.i20s_ed10 {background-position:-100px -20px;}
.i20s_del {background-position:-120px -20px;}
.i20s_del0 {background-position:-140px -20px;}
.i20s_info {background-position:-160px -20px;}
.i20s_info0 {background-position:-180px -20px;}

.i20s_md {background-position:0px -40px;}
.i20s_md0 {background-position:-20px -40px;}
.i20s_em {background-position:-40px -40px;}
.i20s_em0 {background-position:-60px -40px;}
.i20s_delv {background-position:-80px -40px;}
.i20s_delv0 {background-position:-100px -40px;}
.i20s_ord {background-position:-120px -40px;}
.i20s_ord0 {background-position:-140px -40px;}
.i20s_cfg, .i20s_ch {background-position:-160px -40px;}
.i20s_cfg0, .i20s_ch0 {background-position:-180px -40px;}

.i20s_pre {background-position:0px -60px;}
.i20s_pre0 {background-position:-20px -60px;}
.i20s_key {background-position:-40px -60px;}
.i20s_mn {background-position:-80px -60px;}
.i20s_pl {background-position:-100px -60px;}
.i20s_refr0 {background-position:-120px -60px;}
.i20s_refr1 {background-position:-120px -60px;}
.i20s_br {background-position:-140px -60px;}
.i20s_module {background-position:-160px -60px;}
.i20s_file, .i20s_sql, .i20s_ppt, .i20s_xsl {background-position:-180px -60px;}

.i20s_xls, .i20s_xlsx {background-position:0px -80px;}
.i20s_zip, .i20s_rar {background-position:-20px -80px;}
.i20s_avi, .i20s_mp4, .i20s_mpg, .i20s_webm, .i20s_mov {background-position:-40px -80px;}
.i20s_css {background-position:-60px -80px;}
.i20s_doc, .i20s_docx {background-position:-80px -80px;}
.i20s_url, .i20s_exe, .i20s_bat {background-position:-100px -80px;}
.i20s_html {background-position:-120px -80px;}
.i20s_htm, .i20s_static {background-position:-120px -80px;}
.i20s_dynamic, .i20s_txt, .i20s_log, .i20s_csv, .i20s_conf {background-position:-140px -80px;}
.i20s_tpl {background-position:-160px -80px;}
.i20s_non {background-position:-180px -80px;}

.i20s_js {background-position:0px -100px;}
.i20s_php, .i20s_php4, .i20s_phtml {background-position:-20px -100px;}
.i20s_pdf {background-position:-40px -100px;}
.i20s_au, .i20s_mp3, .i20s_ogg, .i20s_m3u, .i20s_ram, .i20s_rm, .i20s_wav {background-position:-60px -100px;}
.i20s_bmp, .i20s_gif, .i20s_png, .i20s_jpeg, .i20s_jpg, .i20s_jpe, .i20s_tiff, .i20s_tif, .i20s_ico {background-position:-80px -100px;}
.i20s_fup {background-position:-100px -100px;}
.i20s_fup0 {background-position:-120px -100px;}
.i20s_fl {background-position:-140px -100px;}
.i20s_fl0 {background-position:-160px -100px;}
.i20s_folder {background-position:-180px -100px;}

.i20_join, .i20_joinbottom, .i20_plus, .i20_line, .i20_plusbottom, .i20_minus, .i20_minusbottom, .i20_nolines_plus, .i20_nolines_minus, .i20_empty, .i20_cfg, .i20_mdl, .i20_base, .i20_rtt, .i20_fav, .i20_srh, .i20_utl, .i20_login, .i20_logout, .i20_usr, .i20_hlp, .i20_close, .i20_open {background:transparent url('../images/i20.png') no-repeat;text-decoration:none;width:20px;height:20px;float:left;}
.i20_join {background-position:0px 0px;}
.i20_joinbottom {background-position:-20px 0px;}
.i20_line {background-position:-40px 0px;}
.i20_minus {background-position:-60px 0px;}
.i20_minusbottom {background-position:-80px 0px;}
.i20_nolines_minus {background-position:-100px 0px;}
.i20_empty {background-position:-120px 0px;}

.i20_nolines_plus {background-position:0px -20px;}
.i20_plus {background-position:-20px -20px;}
.i20_plusbottom {background-position:-40px -20px;}
.i20_base, .i20_rtt {background-position:-120px -20px;}
.i20_cfg {background-position:-80px -20px;}
.i20_mdl {background-position:-100px -20px;}
.i20_fav, .i20_srh {background-position:-60px -20px;}

.i20_utl {background-position:0px -40px;}
.i20_usr {background-position:-20px -40px;}
.i20_hlp {background-position:-40px -40px;}
.i20_logout {background-position:-60px -40px;}
.i20_open {background-position:-80px -40px;}
.i20_close {background-position:-100px -40px;}
.i20_login {background-position:-120px -40px;}

/* Lytebox */

#lbOverlay {position:fixed; top:0; left:0; z-index:99997; width:100%; height:100%;}
#lbOverlay.grey {background-color:#000;}

#lbMain {position:absolute; left:0; width:100%; z-index:99998; text-align:center; line-height:0; display:-moz-inline-stack;}
#lbMain a img {border:1px solid #FFF;}

#lbOuterContainer {position:relative; background-color:#fff; width:200px; height:200px; margin:0 auto;}
#lbOuterContainer.grey {border:2px solid #888;}

#lbTopContainer, #lbBottomContainer {
	font:0.85em Verdana, Helvetica, sans-serif; background-color:#fff; width:100%; line-height:1.4em; font-size:0.9em;
	overflow:hidden; margin:0 auto; padding:0; position:relative; z-index:14; display:none;
}
#lbTopContainer {overflow:hidden; margin-top:5px;}
#lbTopContainer.grey, #lbBottomContainer.grey {background-color:#FFF;}

#lbImage, #lbIframe {border:none;}
#lbImage.grey, #lbIframe.grey {border:none;}
#lbImageContainer, #lbIframeContainer {padding:10px; z-index:12;}
#lbLoading {
	height:100%; width:100%; margin-top:-10px;
	background:url('../images/loading.gif') center no-repeat;
}

#lbHoverNav {position:absolute; top:0; left:0; height:100%; width:100%; z-index:10;}
#lbImageContainer>#lbHoverNav {left:0;}
#lbHoverNav a {outline:none;}

#lbPrevHov {width:48%; height:100%; background:transparent url('../images/blank.gif') no-repeat; display:block; left:0; float:left; margin-left:3px; border:none !important;}
#lbPrevHov.grey:hover, #lbPrevHov.grey:visited {background:url('../images/prev_grey_t.png') left 30% no-repeat;}

#lbNextHov {width:48%; height:100%; background:transparent url('../images/blank.gif') no-repeat; display:block; right:0; float:right; margin-right:3px; border:none !important;}
#lbNextHov.grey:hover, #lbNextHov.grey:visited {background:url('../images/next_grey_t.png') right 30% no-repeat;}

#lbPrev, #lbPrevTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbPrev.grey, #lbPrevTop.grey {background:url('../images/prev_grey.png') no-repeat;}
#lbPrev.greyOff, #lbPrevTop.greyOff {background:url('../images/prev_grey_off.png') no-repeat; cursor:default;}

#lbNext, #lbNextTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbNext.grey, #lbNextTop.grey {background:url('../images/next_grey.png') no-repeat;}
#lbNext.greyOff, #lbNextTop.greyOff {background:url('../images/next_grey_off.png') no-repeat; cursor:default;}

#lbTopData, #lbBottomData {float:left; text-align:left; padding-left:10px;}
#lbBottomData {padding-bottom:0.5em;}
#lbBottomData.grey, #lbTopData.grey {color:#333;}

#lbTopNav, #lbBottomNav {float:right; text-align:right; padding-right:10px;}
#lbNumTop, #lbNumBottom {font-style:italic;}
#lbDescBottom {display:block;}
#lbTitleTop, #lbTopNav {margin-top:0.3em;}
#lbTitleTop, #lbTitleBottom {display:block; font-weight:bold;}

#lbClose, #lbCloseTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbClose.grey, #lbCloseTop.grey {background:url('../images/close_grey.png') no-repeat;}

#lbPrint, #lbPrintTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbPrint.grey, #lbPrintTop.grey {background:url('../images/print_grey.png') no-repeat;}

#lbPlay, #lbPlayTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbPlay.grey, #lbPlayTop.grey {background:url('../images/play_grey.png') no-repeat;}

#lbPause, #lbPauseTop {width:26px; height:28px; float:right; margin:0 0 1px 8px; border:none !important;}
#lbPause.grey, #lbPauseTop.grey {background:url('../images/pause_grey.png') no-repeat;}

#lbClose, #lbPrint, #lbPlay, #lbPause {margin:0 0 6px 8px;}

* html a:hover {background:transparent;}

.lytetip {outline:none; border-bottom:1px dotted; z-index:24; text-decoration:none;}
.lytetip span {
	color:#000;
	position:absolute;
	top:2em; left:0;
	padding:0.5em 0.8em;
	font:10pt "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	background:#F4F5FB;
	border:1px solid #888;
	border-radius:5px 5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-webkit-box-shadow:1px 2px 3px 0px #949494;-moz-box-shadow:1px 2px 3px 0px #949494;box-shadow:1px 2px 3px 0px #949494;
	width:240px;
	filter:alpha(opacity:95);
	KHTMLOpacity:0.95;
	MozOpacity:0.95;
	opacity:0.95;
	text-align:left;
	display:none;
}
.lytetip:hover {z-index:25; color:#aaaaff; background:; text-decoration:none;}
.lytetip:hover span {display:block;}
.lytetip:hover em {	font-size:1.2em; font-weight:bold; display:block; padding:0 0 0.6em 0;}
.lytetip:hover .lbTipImg {border:0; margin:-20px 0 0 -36px; float:left; position:absolute; height:32px; width:32px;}
.lbErrorImg {background:url('../images/error.png');}
.lbInfoImg {background:url('../images/info.png');}
.lbHelpImg {background:url('../images/help.png');}
.lbWarningImg {background:url('../images/warning.png');}
span.lbCustom {padding:0.5em 0.8em 0.5em 1.5em !important;}
span.lbIEFix {padding:0.5em 0.8em !important;}
.lytetip .lbError {background:#FFE7D7; border:1px solid #FF3334;}
.lytetip .lbInfo, .lytetip .lbHelp {background:#D2EEF7; border:1px solid #2BB0D7;}
.lytetip .lbWarning {background:#FFFFAA; border:1px solid #FFAD33;}

